* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    line-height: 1.6;
}
a{
    color:#FFBC48;
    font-weight: 600;
}
ul{
    list-style: none;
    padding: 0 0;
}
blockquote{
    margin: 0;
    padding: 0 1em;
    border-left: #FFBC48 4px solid;
    font-style: italic;
}
figure{
    margin: 1em 0;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.raisin-bg {
    background-color: #222028;
    color: #FFBC48;
}
.gunmetal-bg {
    background-color: #353A42;
    color:#FFBC48;
}
.white-text {
    color: #FFF;
}
.fira-text, h1,h2,h3,h4,h5,h6{
    font-family: 'Fira Sans', sans-serif;
}
.baguette-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(../img/ingredients-480w.jpg) ;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    /* background-blend-mode: normal; */
}
.title {
    font-size: 32px;
    font-weight: 900;
    padding-top: 0.25em;
}
.desc{
    padding: 1em 0;
}
.no-margin{
    margin: 0;
}
.badge {
    background-color: #FFBC48;
    color: black;
    padding: 0 0.5em;
}
.bullet-list{
    list-style: disc;
    padding-left: 1em;
}
.bullet-list li{
    padding: 0.25em 0;
}
.highlight{
    background-color:#FFBC48;
    padding: 0 0.12em !important;
}
/* .gallery img{
    max-width: 100%;
    max-height: 100%;
} */
#header *{
    margin: 0;
}
#header{
    padding: 1em;
}
#navbar {
    font-family: 'Fira Sans', sans-serif;
}
#navbar ul{
    margin: 0;
    padding: 1em 1em;
}
#navbar ul a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}
#navbar ul li{
    padding: 0.5em 0;
}
#content {
    padding: 1em;
}
#info{
    font-weight: 700;
}
#info li{
    padding: 0.12em 0em;
}
#process ol{
    padding: 1em;
}

#process img{
    max-width: 100%;
    max-height: 100%;
}
#schedule table{
    width: 100%;
}
#schedule table,th,td{
    border: black 1px solid; 
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
}
#schedule table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
#footer{
    vertical-align: middle;
    padding: 1em;
    height: 100px;
    max-width: 100%;
}
#footer p{
    vertical-align: middle ;
    margin: 0;
}
